body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.description {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* ---------------LOGO------------------ */

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.web {
  color: #4d5ae5;
}
.studio-up {
  color: #2e2f42;
}
.studio-down {
  color: #f4f4fd;
}

/* ---------------HEADER------------------ */

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.adress {
  font-style: normal;
  font-weight: 400;
}
.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ---------------HERO------------------ */

.hero {
  background: #2e2f42;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.modal-btm {
  font-family: "Roboto", sans-serif;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-btn-hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* ---------------WE CAN------------------ */

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ---------------ACTIVITY------------------ */

/* ---------------OUR TEAM------------------ */

.person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: #2e2f42;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: #434455;
}
/* ---------------FOOTER------------------ */
.footer-section {
  background: #2e2f42;
}

.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
